<form method='POST'>
<table>
  <tr>
    <td colspan=2>
      <!-- WARNINGS -->
    </td>
  </tr>
  <tr>
    <td>Login:</td>
    <td><input type='text' name='user_name' value='<!-- USER_NAME -->'/></td>
  </tr>
  <tr>
    <td>Password:</td>
    <td><input type='password' name='password' value='<!-- PASSWORD -->'/></td>
  </tr>
  <tr>
    <td colspan=2>
      <label><input type='checkbox' CHECKED name='remember' value='1'>Remember Me</label>
    </td>
  </tr>
  <tr>
    <td colspan=2>
      <input type='submit' value='Login' name='login'/>
    </td>
  </tr>
</table>
</form>
<pre><!-- DATA --></pre>
<a href='forgot_login.cgi'>Forgot Login</a> or <a href='account_create.cgi'>Create an Account</a>
