body {
  font-family: arial, serif, san-serif;
	font-size: 12px;
}

input{
  font-family: arial, serif, san-serif;
	font-size: 12px;
}

.note {
  color: #A00000;
}

/* TABLE CSS */
table{
  border-collapse: collapse;
	font-size: 12px;
}
td {
	padding: 0, 5px, 0, 5px;
}
.table_header_row {
	background-color: #CCC;
  font-weight: bold;
	font-size: 14px;
}
.table_total_row {
	background-color: #CCC;
  font-weight: bold;
}
.table_odd_rows {
	background-color: #E9E9E9;
}
